body {
	margin: 0;
	font-family: 'Quattrocento Sans', sans-serif;	
	background-color: #ecf0f1;
}

.header {
	font-size: 1.5em;
	position: relative;
	top: 30%;
	text-align: center;
	width: 100%;
	color: #2D2D2A;
}

#img-contained {
	height: 250px;
	width: 550px;
	position: relative;
	top: 40%;
	margin: 0 auto;
}

#img-contained > img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.character {
	position: relative;
	top: 60%;
	width: 531.25px;
	height: 467px;
	background: url("../img/final_sleep.png");
	animation: sleep 5s steps(20) infinite;

}

@keyframes sleep {
	to {
		background-position: -10625px;
	}
}
