/*general*/

body {
	margin: 0;
	font-family: 'IBM Plex Serif', serif;
}

/*Under Construction*/

a {
	color: #59ABE3;
	cursor: pointer;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}
.header {
	font-size: 1em;
	position: relative;
	text-align: center;
	width: 100%;
	color: #2D2D2A;
	top: 10%;
	min-width: 612px;
}

#construction-container {
	position: relative;
	width: 550px;
	height: 80%;
	margin: 0 auto;
	min-width: 218px;
	top:15%;
}

#z-container {
	position: absolute;
	left: 424px;
	top: 18px;
	width: 40px;
	height: 150px;
	z-index: 3;
	text-align: center;
}

.z {
	position: absolute;
	font-size: 36px;
	font-weight: 700;
	top: 100px;

}

.snoring {
	animation: snore 3s linear forwards;
}

#img-contained {
	height: 250px;
	width: 550px;
	position: absolute;
	top: 50px;
	left: 50%;
	transform: translateX(-50%);
}

#img-contained > img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}





/*ANIMATIONS*/


@keyframes snore {
	0% {
		opacity: 1;
		font-size: 36px
	}
	100% {
		opacity: 0;
		font-size: 8px;
		transform: translateY(-80px);
		display: none;
	}
}
