body {
	margin: 0;
	background-color: #FDFDFD;
	font-family: 'Montserrat', sans-serif;

}

#container {
	font-size: 24px;
}

#no-wrap-question {
	margin-top: 12px;
	padding: 24px;
}

#no-wrap-container {
	margin-top: 12px;
	display: flex;
	justify-content: space-around;
	overflow-x: auto;

}

#wrap-question {
	margin-top: 12px;
	padding: 24px;
}

#wrap-container {
	margin-top: 12px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.square {
	height: 200px;
	width: 200px;
	border-radius: 4px;
	margin: 4px;
	box-shadow: 0 1px 2px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.28);

}

#no-wrap-container .square {
	background: #3A8EB4;
	flex: none;
}

#wrap-container .square {
	background: #FCB07E;
}